.banner {
    background-image: url(../img/Wallpapers/WallpaperMenu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}



.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.banner .container .title {
    position: relative;
    bottom: 50px;
    font-family: 'OptmusPrinceps';
}

.banner .container .title p {
    color: #FFF;
    font-size: 40px;
}

.banner .container .title span {
    color: #790707;
    font-size: 96px;
}
