body {
    margin: 0;  
}

@font-face {
    font-family: 'OptmusPrinceps';
    src: url('../font/OptimusPrinceps.ttf') format('truetype');
    
    font-family: 'OptmusPrincepsSB';
    src: url('../font/OptimusPrincepsSemiBold.ttf') format('truetype');
}

/*Header da linha 11 até a linha 61*/
.header {
    position: fixed;

    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    padding-top: 5px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    font-family: 'OptmusPrinceps';
   
}

.header .container .navbar li {
    list-style: none;
    display: inline;
    padding: 0 35px;
    width: 100%;
    color: #D0D0D0;
}

.header .container .navbar li:hover {
    border-bottom: 1px solid #790707;
    color: #790707;
    transition: 0.3s ease-in-out;

}

.header .container img {
    display: block;
    align-items: end;
    height: 85px;
}

.header .login {
    display: flex;
    height: 100%;
    position: relative;
    left: 18vh;
    align-items: end;
    

}

.header .login a {
    padding: 0 5px;
    color: #790707;
    text-decoration: none;
    font-weight: bold;
    font-family: 'OptmusPrinceps';

}

.header .login a:hover {
    position: relative;
    border-bottom: 1px solid #790707;
    top: 1px;
    transition: 0.3s;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 5px;
    background-color: #141414
}

::-webkit-scrollbar-thumb {
    background-color: #790707;
    border-radius: 30px;
    border: 3px solid #790707;
}