.calc-build {
    padding-top: 85px;
}
.Atributos {
    display: grid;
    width: 20%;
    
}

.Atributos .atrStatus {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Atributos .atrStatus .btnAtrSts span{
    padding: 0 5px;
}

.Status {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Status .container-status{
    display: flex;
    width: 80%;
    justify-content: space-between;
    
}


.Status .container-status .chart-atributos {
    width: 400px;
    height: 500px;
    align-items: center;
    display: flex;
}
.Atr-Title{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
