body {
    background-image: url(../img/Wallpapers/image\ 9.png);
    background-size: cover;
    background-position: top;
}

.Status {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Status .container-status {
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.Status .container-status .chart-atributos {
    width: 400px;
    height: 500px;
    align-items: center;
    display: flex;
}

.calc-build {
    padding-top: 85px;
}

.Atributos {
    display: grid;
    width: 20%;

}

.Title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #D0D0D0;
    font-family: 'OptmusPrincepsSB';
}

.Title h1 {
    border-bottom: 0.5px solid #D0D0D0;
}

.Atributos .atrStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #D0D0D0;
    border-top: 0.5px solid #D0D0D0;
    color: #D0D0D0;
}

.Atributos .atrStatus .btnAtrSts button {
    background-color: #0d0d0d;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
}

.Atributos .atrStatus .btnAtrSts button:hover {
    background-color: #790707;
    border: 1px solid #790707;
    transition: 0.5s;
}

.Atributos .atrStatus .btnAtrSts span {
    padding: 0 5px;
    color: #D0D0D0;
}

.equipamentos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.equipamentos .container {

    height: fit-content;
    width: 80%;
    display: grid;
}

.equipamentos .container .container-equi {
    display: flex;
    justify-content: space-between;
}

.equipamentos .container .container-equi .form-Equi {
    width: 30%;
    display: grid;
}

.equipamentos .container .container-equi .form-Equi h3 {
    text-align: center;
    color: #D0D0D0;
    border-bottom: 0.5px solid #D0D0D0;
}

.equipamentos .container .container-equi .form-Equi .equi-Sel {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    width: 100%;
}

.equipamentos .container .container-equi .form-Equi .equi-Sel p {
    color: #D0D0D0;
}

.equipamentos .container .container-equi .form-Equi .equi-Sel select {
    width: 60%;
    background-color: #0d0d0d;
    color: #D0D0D0;
    border-radius: 5px;
}

.resultado-Sts {
    width: 100%;
    display: flex;
    justify-content: center;
}

.resultado-Sts .container {
    height: fit-content;
    width: 80%;
    display: grid;
}

.resultado-Sts .container .Sts {
    display: flex;
    justify-content: space-between;
}

.resultado-Sts .container .Sts .corpo-Sts {
    width: 30%;
    display: grid;
    margin: 12px 0
}

.resultado-Sts .container .Sts .corpo-Sts .Sts-Tupla {
    color: #D0D0D0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D0D0D0;
    font-family: 'OptmusPrincepsSB';
    margin: 2px 0;
}

.resultado-Sts .container .Sts .corpo-Sts .Sts-Tupla p {
    margin: 0;
}

.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.containerButton div {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.containerButton div button {
    width: 100px;
    height: 30px;
    background-color: #0d0d0d;
    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
}


.containerButton div button:hover {
    background-color: #790707;
    border: 1px solid #790707;
    transition: 0.5s;
}

.containerButton div .buttonLimparFicha {
    color: #790707;
    border: 1px solid #790707;
}

.containerButton div .buttonLimparFicha:hover {
    color: #0d0d0d;
}

#inNomeBuild {
    text-align: center;
    border: 2px solid #d0d0d065;
    background-color: #0d0d0db0;
    color: #D0D0D0;
}

#legendaChart {
    color: #D0D0D0;
    text-align: center;
    width: 100%;
    display: none;
}