body {
    margin: 0;
}

@font-face {
    font-family: 'OptmusPrinceps';
    src: url('../font/OptimusPrinceps.ttf') format('truetype');

    font-family: 'OptmusPrincepsSB';
    src: url('../font/OptimusPrincepsSemiBold.ttf') format('truetype');
}

/*Header*/
.header {
    position: fixed;
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    font-family: 'OptmusPrinceps';

}


/*Navlinks*/
.header .container .navbar li {
    display: inline;
    padding: 0 35px;
    width: 100%;
    color: #D0D0D0;
}

.header .container .navbar li:hover {
    border-bottom: 1px solid #790707;
    color: #790707;
    transition: 0.3s ease-in-out;
}





/*Navimg*/
.header .container img {
    display: block;
    align-items: end;
    height: 85px;
    cursor: pointer;
}

.header .login {
    display: flex;
    height: 100%;
    position: absolute;
    left: 90%;
    bottom: 0px;
    align-items: end;
}


/*Login*/
.header .login a {
    padding: 0 5px;
    color: #790707;
    text-decoration: none;
    font-weight: bold;
    font-family: 'OptmusPrinceps';

}

.header .login a:hover {
    position: relative;
    border-bottom: 1px solid #790707;
    top: 1px;
    transition: 0.3s;
}

/*DropDown*/


/*Personagens*/
.header .container .navbar li .dropdown-personagens {
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 0 10px;
    padding: 5px 0;
}

.header .container .navbar li .dropdown-personagens li {
    padding: 5px 19px;
    text-align: center;
}

.header .container .navbar li:hover .dropdown-personagens {
    display: flex;
}



/*Conquistas*/
.header .container .navbar li .dropdown-conquistas {
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 0 10px;
    padding: 10px 0;
    left: 450px;
}

.header .container .navbar li .dropdown-conquistas li {
    padding: 5px 19px;
    text-align: center;
}

.header .container .navbar li:hover .dropdown-conquistas {
    display: flex;
}



/*Build*/
.header .container .navbar li .dropdown-build {
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 0 10px;
    padding: 5px 0;
    right: 292px;
}

.header .container .navbar li .dropdown-build li {
    padding: 5px 19px;
    text-align: center;
}

.header .container .navbar li:hover .dropdown-build {
    display: flex;
}



/*Equipamentos*/
.header .container .navbar li .dropdown-equipamentos {
    position: absolute;
    display: none;
    flex-direction: column;
    margin: 0 10px;
    padding: 5px 0;
}

.header .container .navbar li .dropdown-equipamentos li {
    padding: 5px 19px;
    text-align: center;
}

.header .container .navbar li:hover .dropdown-equipamentos {
    display: flex;
}






/*ScrollBar*/
::-webkit-scrollbar {
    width: 5px;
    background-color: #141414
}

::-webkit-scrollbar-thumb {
    background-color: #790707;
    border-radius: 30px;
    border: 3px solid #790707;
}