body {
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/Wallpapers/WallpaperDS1.png);
    background-size: cover;
    position: relative;
    z-index: -1;
}

.register {
    position: relative;
    top: 100px;
    z-index: -1;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 338px;
    flex-direction: column;
    position: relative;
    top: 85px;
    z-index: 0;
}


.container-register h1 {
    text-align: center;
    font-family: 'OptmusPrincepsSB';
    text-align: center;
    color: #D0D0D0; 
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    bottom: 107px;

}



.container-register span {
    color: #D0D0D0; 
    font-family: 'OptmusPrincepsSB';
}

.container-register input {
    margin: 5px;
    width: 200px;
    text-align: center;
    border: 2px solid #d0d0d065;
    background-color: #0d0d0db0;
    color: #D0D0D0;
    height: 20px;
    border-radius: 4px;
    outline: none;
    position:relative;
    z-index: 1;
}

.container-register input:hover {
    border-bottom: 2px solid #790707;
    transition: 0.3s;

}

.container-register input:focus {
    border: 2px solid #790707;
    transition: 0.3s;
    
}

.container-register button {
    background-color: #0d0d0db0;
    border: 2px solid #d0d0d065;
    padding: 1px 5px;
    color: #D0D0D0;
    margin: 5px 5px;
    width: 90px;
    border-radius: 4px;
}

.container-register button:hover {
    border: 2px solid #790707;
    background-color: #790707;
    color: #0d0d0d;
    width: 100px;
    transition: 0.3s;
}

.cardError {
    display: none;
    width: 300px;
    background-color: #000000d3;
    border-radius: 5px;
    text-align: center;
    color: #880707;
    position: relative;
    top: 55px;
    left: 485px;

}