.section-context {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;


}

.section-context .container {
    width: 100%;
    padding: 0 10%;

}

.section-context .container h1 {
    font-family: 'OptmusPrincepsSB';
    text-align: center;
    color: #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}

.section-context .container .text {
    display: flex;
    justify-content: space-between;
    color: #D0D0D0;
}

.section-context .container .text p {
    margin: 0%;
    padding: 0 5%;
}

.section-franquia {
    width: 100%;
    height: fit-content;
}

.section-franquia .title {
    display: flex;
    justify-content: center;
}

.section-franquia .title h1 {
    margin: 0%;
    font-family: 'OptmusPrincepsSB';
    text-align: center;
    color: #D0D0D0;
    padding: 30px;
}


.section-franquia .franquia {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.section-franquia .franquia .container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    border-radius: 15px;
}

.section-franquia .franquia .container .franquia-Ds {
    height: 100%;
    width: 30%;
    transition: 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0px;
    color: #D0D0D0;
}

.section-franquia .franquia .container .franquia-Ds div {
    text-align: center;   
}

.section-franquia .franquia .container .franquia-Ds:hover {
    transition: 0.5s  ease-out;
    font-size: 20px;
    width: 150%;
    font-size: 16px;
    
}