.section-context {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    
    
}

.section-context .container {
    width: 80%;
    
}

.section-context .container h1 {
    font-family: 'OptmusPrincepsSB';
    text-align: center;
    color: #D0D0D0; 
    border-bottom: 1px solid #D0D0D0;
    border-radius: 30px;
    
}

.section-context .container .text {
   display: flex;
   justify-content: space-between;  
   color: #D0D0D0; 
}

.section-context .container .text p {
    margin: 0%;
    padding: 0 10px;
}

.section-franquia{
    width: 100%;
    height: 500px;
    
}

.section-franquia .franquia{
    display: flex;
    width: 100%;
    height: 355px;
    
    justify-content: center;

}

.section-franquia .title {
    display: flex;
    justify-content: center;
}

.section-franquia .title h1 {
    margin: 0%;
    font-family: 'OptmusPrincepsSB';
    text-align: center;
    color: #D0D0D0; 
    padding: 30px;
}


.section-franquia .franquia .container-img {
    width: 80%;
    display: flex;
    justify-content: center;
    

}
.section-franquia .franquia .container-img img{
    padding: 0 20px;
    width: 26.6%;
    height: 100%;
}

.section-franquia .comprar-button {
    display:flex;
    justify-content: center;
    width: 100%;
}

.section-franquia .comprar-button .container {
    display: flex ;
    padding-top: 10px;
    width: 61%;
    justify-content: space-between;
}

.section-franquia .comprar-button .container a{
    background-color: #0C0C0C;
    border: 2px solid #790707;
    color: #790707;
    border-radius: 30px;
    padding: 0 20px;
    text-decoration: none;
}


.section-franquia .comprar-button .container a:hover{
    color: #0C0C0C;
    background-color: #790707;
    padding: 0 22px;
    transition: 0.3s ease-in-out;
}



